* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

header {
  text-align: center;
}

h1 {
  font-family: "Comfortaa", sans-serif;
  margin: 1%;
}

div#change_username,
div#change_color,
section#input_zone {
  border: 5px outset #752828;
}

.button-container {
  margin-left: 41%;
}

.chatTitle {
  margin-right: 15%;
}

.button-box {
  display: block;
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 50%;
}

#local-video {
  height: 25%;
  width: 20%;
  right: 14.5%;
  position: absolute;
  bottom: 0;
}

#remote-video {
  height: 100%;
  width: 100%;
}

.hide-me {
  visibility: hidden;
}

div#change_color,
div#change_username {
  width: 400px;
  height: 3%;
  display: inline-block;
  background-color: #752828;
}

#color {
  width: 230px;
}



#username {
  width: 230px;
}

section#chatroom {
  border: 1px inset #752828;
  height: 65%;
  overflow: auto;
}

section#input_zone {
  height: 7%;
  text-align: center;
  background-color: #752828;
}

section#input_zone_private {
  width: 85%;
  height: 7%;
  text-align: center;
  background-color: #752828;
  border: 5px outset #752828;
}

.vertical-align {
    margin-bottom: 2%;
}

input#username {
  font-family: "Comfortaa", sans-serif;
}

input#message {
  display: inline-block;
  width: 80%;
  height: 90%;
  font-family: "Comfortaa", sans-serif;
  font-size: 2vh;
}

button#send_message {
  display: inline-block;
  height: 90%;
  width: 15%;
}

p.message {
  margin: 0px;
  width: 100%;
  height: 40px;
  font-size: 2vh;
  font-family: "Comfortaa", sans-serif;
  padding: 1vh;
}

.message:nth-child(even) {
  background-color: #81daf5;
}

.message:nth-child(odd) {
  background-color: #81bef7;
}
