* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

header {
  text-align: center;
}

h1 {
  font-family: "Comfortaa", sans-serif;
  margin: 0px;
}

div#change_username,
div#change_color,
section#input_zone {
  border: 5px outset #8258fa;
}

.button-container {
  margin-left: 41%;
}

.chatTitle {
  margin-top: 30px;
  margin-left: 40%;
  margin-bottom: 50px;
}

.button-box {
  display: block;
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 50%;
}

#local-video {
  height: 25%;
  width: 20%;
  right: 14.5%;
  position: absolute;
  bottom: 0;
}

#remote-video {
  height: 100%;
  width: 100%;
}

.hide-me {
  visibility: hidden;
}

div#change_color,
div#change_username {
  width: 400px;
  height: 3%;
  display: inline-block;
  background-color: #bca9f5;
}

#color {
  width: 230px;
}

#username {
  width: 230px;
}

section#chatroom {
  border: 5px inset #8258fa;
  height: 65%;
  overflow: auto;
}

section#input_zone {
  height: 7%;
  text-align: center;
  background-color: #bca9f5;
}

section#input_zone_private {
  width: 85%;
  height: 7%;
  text-align: center;
  background-color: #bca9f5;
  border: 5px outset #8258fa;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input#username {
  font-family: "Comfortaa", sans-serif;
}

input#message {
  display: inline-block;
  width: 73%;
  height: 70%;
  font-family: "Comfortaa", sans-serif;
  font-size: 2vh;
}

button#send_message {
  display: inline-block;
  height: 70%;
  width: 10%;
}

p.message {
  margin: 0px;
  width: 100%;
  height: 40px;
  font-size: 2vh;
  font-family: "Comfortaa", sans-serif;
  padding: 1vh;
}

.message:nth-child(even) {
  background-color: #81daf5;
}

.message:nth-child(odd) {
  background-color: #81bef7;
}
