.friend_list {
    padding-left: 10px;
    background: #f8f8f8 none repeat scroll 0 0;
    float: right;
    overflow: hidden;
    height: 100vh;
    width: 15%;
    border-left: 1px solid #c4c4c4;
}

.friend {
    padding-left: 15px;
    display: inline-flex;
}

.mini-img {
    padding-right: 10px;
}
