<%- include('../partials/header')%>
</head>
<body>
  <%- include('../partials/navbar')%>
  <main>
    <h1>Hello everyone</h1>
    <form action="/findusers" method="GET">
      <label for="search">Find users</label>
      <input type="text" name="search" id="search">
      <input type="submit" value="Search">
     </form>
     <% if ( users.length > 0 ) { %> 
     <h3>Found users</h3>
     <ul>
     <% for ( let user of users ) { %> 
     <li><%= user.username %></li>
      <% } %>
     </ul>
     <% } else { %>
      <h3>No user with that username found</h3>
      <% } %> 
    <form action="/logout" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit">Logout</button>
    </form>
  </main>
</body>
