<%- include('../partials/header')%>
</head>
<body>
  <%- include('../partials/navbar')%>
  <main>
    <h1>Hello everyone</h1>
    <form action="/room" method="POST">
      <select name="room" id="room">
          <option value="Algebra">Algebra</option>
          <option value="Backend">Backend</option>
          <option value="Frontend">Frontend</option>
      </select>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button>Go to room</button>
  </form>
  
  </main>
</body>
