.friendBox {
    margin: 2%;
    margin-top: 4%;
    height: 15rem;
    width: 25rem;
    text-align: center;
}

h1 {
    margin: 1%;
    margin-right: 15%;
}

.grid_friends, .grid_found_friends {
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 15%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        line-height: 0.7;
        overflow: hidden;
}

.grid_found_friends {
    margin-top: 2%;
}


.friend_name {
    font-size: 24px;
    
}

.find_friends_box {
    text-align: center;
}

.find_friends_mini_box{
    margin-right: 15%;
}

/** Search bar styling from https://codepen.io/quocdat1994/pen/OJLEzEm **/ 
.search-bar {
    margin-left: 25%;
    background: #00695c;
    width: 50%;
    height: 40px;
    padding: 0.2rem 0.6rem 0.2rem 0.2rem;  
    box-sizing: border-box;
    box-shadow: 1px 1px 0 0 #00695c,
                2px 2px 0 0 #00695c,
                3px 3px 0 0 #00695c,
                4px 4px 0 0 #00695c,
                5px 5px 0 0 #00695c,
                6px 6px 0 0 #00695c
  }
  
  .search-bar input {
    border: 0;
    outline: none;
    height: 100%;
    width: 85%;
    padding: 0 1rem;
    font-size: 1rem;
    font-style: italic;
  }
  
  .search-bar button {
    margin-left: 15px;
    background: none;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0;
    outline: none;
  }

  .add_friend_button {
        margin-top: 2px;
        display: inline-block;
        padding: 0.25rem 1rem;
        text-decoration: none;
        height: 40px;
        font: inherit;
        color: white;
        background: #00695c;
        border-radius: 3px;
        cursor: pointer;
  }

  .find_users_class {
      margin-top: 3%;
  }