.pageselector {
    max-width: 300px;
    margin: auto;
}
h1 {
    text-align: center;
}
.settingsClass {
    max-width: 300px;
    float: left;
    margin-left: 25px;
    clear: left;
    margin-top: 30px;
    border: 1px solid black;
}

.friendReqClass {
    width: 400px;
    text-align: center;
    float: left;
    margin-top: 50px;
    margin-left: 25px;
    border: 1px solid black;
}

.friendReqClass ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.profileInfo{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;

}