<head>
  <link rel="stylesheet" type="text/css" href="/css/chats/chats.css" />
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <video autoplay class="remote-video" id="remote-video"></video>
    <video autoplay muted class="local-video" id="local-video"></video>
    <div class="button-box">
      <button id="endButton">End call</button>
      <button id="acceptButton" >Accept call</button>
    </div>
  <script src="/call.js"></script>
</body>
