<%- include('../partials/header.ejs') %> 
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label for="username">Korisničko ime</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Lozinka</label>
        <input type="password" name="password" pattern=".{6,}" id="password">
        <button>Login</button>
    </form>
</body>