<%- include('../partials/header.ejs') %> 
<link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Login</h1>
    <div class="box">
    <form action="/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="input-container">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </div>
        <br>
        <div class="input-container">
        <label for="password">Password</label>
        <input type="password" name="password" pattern=".{6,}" id="password">
    </div>
        <button class="btn">Login</button>
    </form>
    </div>
</body>