<%- include('../partials/header.ejs') %>
</head>

<body>
    <%- include('../partials/navbar') %>

    <h1>My friends</h1>
    <ul>
    <% currentUser.friends.forEach( friend => { %>
        <% if (friend.status === 'friends') { %>
        <li> <a href="/user/<%= friend.userId %>"><%= friend.username %> </a></li>
        <% } %> 
    <% }) %>
</ul>
</body>