<%- include('../partials/header.ejs') %> 

</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <main>
        <form action="/resetpw" method="POST">
            <div>
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-primary" type="submit">Reset Password</button>
        </form>
    </main>
</body>